@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
}

header div img {
    width: 90vw;
    height: 30vh;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 10vh auto;
    padding: 0;
}

ul li {
    padding: 0 20px;
}

#playerChoose p {
    margin: 2.5vh auto;
    text-align: center;
    font-size: 2rem;
}

button {
    border-radius: 10px;
    border-style: none;
    background-color: rgb(255, 36, 36);
    text-align: center;
    height: 5vh;
    width: 25vw;
    font-size: 1.2rem;
    color: #ffffff;
}

button:hover {
    background-color: rgb(228, 35, 35);
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    header div img {
        width: 90vw;
        height: 40vh;
    }
}

@media only screen and (min-width: 768px) {
    header div img {
        width: 80vw;
        height: 50vh;
    }
}

@media only screen and (min-width: 992px) {
    header div img {
        width: 70vw;
        height: 50vh;
    }
}

@media only screen and (min-width: 1200px) {
    header div img {
        width: 40vw;
        height: 40vh;
    }

    #playerChoose p {
        text-align: center;
        font-size: 5rem;
    }

    button {
        width: 10vw;
        font-size: 1.5rem;
    }
}